{% extends 'base.html' %}
{% block content %}


<div class="page-heading">
  <div class="container">
    <div class="heading-content">
      <h1>Our <em>Blog</em></h1>
    </div>
  </div>
</div>


<div class="blog-entries">
  <div class="container">
    <div class="col-md-8">
      <div class="blog-posts">
        <div class="row">
          {% for data in post %}
          <div class="col-md-12">
            <div class="blog-post">
              <img src="{{data.image.url}}" alt="">
              <div class="text-content text-info">
                <span><a href="#"><i class="fa fa-user" aria-hidden="true"></i> {{request.user.username}}</a> &nbsp; <a
                    href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> {{data.publish_date|timesince}} ago</a>
                </span>
                <h2>{{data.title}}</h2>
                <p>{{data.content|truncatewords:60}}</p>
                <div class="simple-btn">
                  <a href="{% url 'postview' data.slug %}">continue reading</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}


          <div class="col-md-12">
            <ul class="pagination  justify-content-center">
              {% if post.has_previous %}
              <li class="page-item"><a href="?{{page_request_var}}=1 {% if request.GET.q %}&q={{request.GET.q}}{% endif %}  ">&laquo;
                first</a></li>
              <li class="page-item"><a href="?{{page_request_var}}={{ post.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">previous</a></li>
              {% endif %}

              <span class="current text-danger">
                Page {{ post.number }} of {{ post.paginator.num_pages }}
              </span>

              {% if post.has_next %}
              <li  class="page-item"><a href="?{{page_request_var}}={{ post.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">next</a></li>
              <li class="page-item"><a href="?{{page_request_var}}={{ post.paginator.num_pages }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">last
                &raquo;</a></li>
              {% endif %}
            </ul>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% if post.has_previous %}
               
                <li class="page-item"><a href="?{{page_request_var}}={{ post.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">previous</a></li> 
                <li class="page-item"><a href="?{{page_request_var}}=1 {% if request.GET.q %}&q={{request.GET.q}}{% endif %}  ">&laquo;
                  1</a></li>
                {% endif %}
               
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="side-bar">
        {% include 'sidebar.html' %}
      </div>
    </div>
    {% include 'Navbar.html' %}
  </div>
</div>

{% endblock %} 
